@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap');

.ag-theme-quartz .ag-cell:focus,
.ag-theme-quartz .ag-cell-focus {
  outline: none !important;
  border: none !important;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.header-center .ag-header-cell-label {
  justify-content: center !important;
}

.ag-theme-quartz {
--ag-font-family: 'Montserrat', sans-serif;
--ag-row-hover-color: rgba(22, 29, 32, 0.04);
--ag-border-color: #e0e0e0;
--ag-header-font-weight: 600;
}

