@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap');

.ag-theme-quartz .ag-cell:focus  {
  outline: none !important;
  border: none !important;
}
body {
  margin: 0;
  padding: 0;
}